{
  "extends": "eslint:recommended",
  "plugins": [
    "html"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "globals": {
    "vue": true,
    "wx": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "globalReturn": false,
      "impliedStrict": false,
      "jsx": false
    }
  },
  "rules": {
    "no-console": "off",
    "no-path-concat": "off"
  }
}
